body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.herosection, footer {
    background-color: #1f2937;
    color: #e5e7eb;
}

.herosection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    width: 960px;
    flex: 1 1 auto;
}

.herobody {
    width: 960px;
    display: flex;
    align-items: center;
    margin: 72px 0px 96px;
    gap: 24px
}
.herobody img {
    width: 480px;
}
.herotext {
    font-size: 18px;
    gap: 12px;
}
.herotext h1 {
    color: #f9faf8;
    font-size: 48px;
    margin: 0;
}
button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 36px;
    border-radius: 6px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.infosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}
h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.infosection ul {
    display: flex;
    gap: 24px;
    color: #1f2937;
    font-size: 18px;
    text-align: center;
    width: 900px;
}
.infosection img {
    border-radius: 6px;
    width: 200px;
}